.App {
 
  background: #f6f7f9;
 
}
.table-wrapper{
  overflow-y: scroll;
  max-height: 66.4vh;
}
table th{
  position: sticky;
  top:0px;
  
}
/* ----------------------------header filter css---------- */
.filter{
  z-index: 4;
  position: fixed;
  right: 220px;
  background-color: white;
  
}





